* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #FFF;
}

header {
    text-align: center;
    padding-top: 4em;
    padding-bottom: 5.5em;
}

#title {
    padding-top: 1em;
    padding-bottom: 1.65em;
    font-weight: 400;
    letter-spacing: 1rem;
    font-size: 2.4rem;
    color: #FF1144;
    text-shadow: 5px 5px 5px#FFF;
}

#sub-title {
    font-family: Pacifico, Arial, Helvetica, sans-serif;
    letter-spacing: 1.75rem;
    font-size: 2rem;
    text-shadow: 5px 5px 5px #FF1144;   
}

/* Image section */

#img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
    height: auto;
    width: 40em;
    text-shadow: 10px 10px 10px #FF1144;
}
  
#image {
    max-width: 100%;
    text-align: center;
}

#img-caption {
    margin-right: 21em;
    position: static;
    padding-right: 2rem;
    margin-left: 23rem;
}

/* Image caption section */
#season {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2.4rem;
    font-size: 2.3rem;
    letter-spacing: 1.2rem;
    font-weight: 300;
    text-shadow: 3px 5px 10px #FF1144;
}

#episode-title {
    padding-bottom: 3.5rem;
    letter-spacing: 1.5rem;
    padding-top: 1.5rem;
    font-size: 1.8rem;
    font-weight: 450;
    text-shadow: 5px 5px 5px #FF1144;
    color: #500;
}

#fullmetal-episode li {
    list-style: none;
    padding-bottom: 1.4rem;
    letter-spacing: .4rem;
    font-size: 1.4rem;
    text-shadow: 5px 5px 5px #FF1144;
}

/* Blockquote section */

#link-section {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#quote, #author {
    padding-bottom: 3.5rem;
    padding-top: 2.5rem;
    letter-spacing: .5rem;
    text-shadow: 2px 2px 4px #FF5599;
    font-size: 1.5rem;
    font-weight: 600;
}

#link-section > a {
    text-decoration: none;
    color: #FFF;
    text-shadow: 7px 5px 10px #FF5599;
    font-size: 1.75rem;
    letter-spacing: .25rem;
}

#link-section > a:hover {
    color: #FF5599;
    text-shadow: 3px 3px 10px #FFFFEE;
    letter-spacing: .5rem;
    font-size: 1.5rem;
}